# tls /path/to/your/certificate.crt /path/to/your/certificate.key

# 代理 VMess 端口
handle_path /${VMESS_WSPATH} {
  reverse_proxy localhost:8001 {
    header_up Host vmess
    proxy_websocket
  }
}

# 代理 VLESS 端口
handle_path /${VLESS_WSPATH} {
  reverse_proxy localhost:8002 {
    header_up Host vless
    proxy_websocket
  }
}

# 代理其他所有流量
handle {
  reverse_proxy localhost:${V_PORT}
}

# 代理其他服务
handle_path / {
  reverse_proxy localhost:${PORT}
  file_server /app {
    root /index.html
  }
}
