# tls /path/to/your/certificate.crt /path/to/your/certificate.key

# 代理 Xray
reverse_proxy /${VLESS_WSPATH} localhost:3002
reverse_proxy /${VMESS_WSPATH} localhost:3003

# 代理其他服务
reverse_proxy localhost:${V_PORT}

# 伪装静态主页
handle_path / {
    reverse_proxy localhost:${PORT}
    static /app {
        path /index.html
        path *.html
    }
}
